.Test{
    height: 100%;
   width: 100%;
   
   text-shadow: 1px 1px 5px #fff, 1px 1px 8px #fff, 1px 1px 10px #fff, 1px 1px 12px #fff;  
   margin: 0;
   background: rgb(221,209,183);
   background: radial-gradient(circle, rgba(221,209,183,1) 0%, rgba(221,209,183,1) 100%);
   background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20201028/pngtree-yellow-question-mark-on-a-light-blue-pastel-background-3d-illustration-image_443913.jpg);
     min-height: 100vh;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     font-size: calc(10px + 2vmin);
     color: rgb(201, 105, 105);
     background-position: 100% 100%;
     background-size: 100%;
 }
 
 .TestList{
   height: auto;
   padding: 0;
   width: 100px;
 
 }
 .TestList.row{
   width: 100%;
   height: 50px;
   border: 1px solid black;
   list-style-type: none;
   margin: 0%;
   display: flex;
   flex-direction: row;
   color: white;
   justify-content: center;
   align-items: center;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }
 .Test .row:hover{
   cursor: pointer;
   background-color: #293846;
 }
 .TestList .row #active{
   cursor: pointer;
   background-color: #293846;
 }
 .row #icon{
   flex: 30%;
  display: grid;
  place-items: center;
 }
 .row #title{
   flex: 70%;
 }
 
.mat{
   background-color: rgb(30, 255, 0);
   padding: 0;
   height: 100%;
   width: 150px;
}
.english{
   background-color: rgb(30, 255, 0);
   height: 100%;
   width: 150px;
}
.history{
   background-color: rgb(30, 255, 0);
   height: 100%;
   width: 150px; 
}