body {
  direction: rtl;
}
.App {
  text-align: center;
}

.login_register, .welcome, .register, .login {
  background: rgb(221,209,183);
background: radial-gradient(circle, rgba(221,209,183,1) 0%, rgba(221,209,183,1) 100%);
background-image: url(https://images.unsplash.com/photo-1548003411-73cb4c666bb9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-position: 100% 100%;
  background-size: 100%;
}
#mainWelcome
{
  color:#3910d1;
  text-shadow: 1px 1px 5px #fff, 1px 1px 8px #fff, 1px 1px 10px #fff, 1px 1px 12px #fff;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.btn_logorreg
{
  font-size: 45px;
}


button {
  color: chocolate;
  background: hsl(232, 58%, 35%);
}
.next span {
  font-size: 5em;
  line-height: 1em;
  color:#fffeff;
}
.img1{
  height: 4em;
  margin-top: 10px;
  margin-right: 15px;


}
.choose, .harshama{
color: #3910d1;
text-shadow:1px 1px 5px #fff,1px 1px 5px #fff,1px 1px 5px #fff,1px 1px 5px #fff,1px 1px 5px #fff,1px 1px 5px #fff;
}

/* .Sidebar{
  height: 100%;
  width: 300px;
  background-color: #2f4050;
}

.SidebarList{
  height: auto;
  padding: 0;
  width: 100px;

}
.SidebarList.row{
  width: 100%;
  height: 50px;
  border: 1px solid black;
  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.Sidebar .row:hover{
  cursor: pointer;
  background-color: #293846;
}
.SidebarList .row #active{
  cursor: pointer;
  background-color: #293846;
}
.row #icon{
  flex: 30%;
 display: grid;
 place-items: center;
}
.row #title{
  flex: 70%;
} */
